<div class="container">
<section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          ITIS C.Zuccante
        </h1>
            <h1 class="subtitle">Film</h1>
            

            <ul id="menu">
                <ul>
              <li><a class="button is-white" [routerLink]="['/']">Home</a>
              </li>
              <li><a class="button is-white" [routerLink]="['/','prodotto']">Visualizzazione Film</a></li>
              </ul>
            </ul>
      </div>
    </div>
  </section>
      <router-outlet></router-outlet>
</div>
